<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4">Contact Us</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        <h2>Jessica Brewster, Phd</h2>
        <h3>Vice President</h3>
        <a href="mailto:jessica.brewster@agency.com">jessica.brewster@agency.com</a><br>
        <br>
        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        <h2>Andy Kemper, CMPP</h2>
        <h3>Director, Scientific & Medical Services</h3>
        <a href="mailto:andy.kemper@agency.com">andy.kemper@agency.com</a>
      </div>
      <div class="col-md-6">
        <p>Would you like to learn more about our core capabilities and/or open positions?</p>
        <form>
          <div class="form-group">
            <label for="name" class="bmd-label-floating">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email" class="bmd-label-floating">Email address</label>
            <input type="email" class="form-control" id="email">
            <span class="bmd-help">We'll never share your email with anyone else.</span>
          </div>
          <div class="form-group">
            <label for="message" class="bmd-label-floating">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-raised">Submit <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>