<div [id]="contactSectionLayout.divId" class="section orange lighten-3 scrollspy">
  <div class="row container">
    <div class="col m12 center-align blue-text text-darken-3">
      <h3>{{ contactSectionLayout.title }}</h3>
    </div>
  </div>
  <div class="row container">
    <div class="col s12 m6">
      <h4>{{ contactSectionLayout.title }}</h4>
      <p>{{ contactData.description }}</p>
      <form id="contact-form" name="contactForm" ng-submit="submit()" novalidate>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="icon_email" type="tel" class="validate">
            <label for="icon_email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">notes</i>
            <textarea id="message-input" class="materialize-textarea validate" ng-model="contact.message"></textarea>
            <label for="message">Message</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button id="submit-btn" name="submit" type="submit" value="Send" class="btn waves-effect waves-yellow green">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col s12 m6">
      <div class="center-on-small-only">
        <img class="responsive-img" [src]="globalData.logoSrc" [alt]="globalData.alt" />
        <div class="row">
          <div class="col m6 s12" *ngFor="let location of contactData.locations">
            <p>
              <strong>{{ location.title }}</strong>
              <br /> {{ location.address }}
              <br /> {{ location.address2 }}
              <br /> {{ location.address3 }}
              <br /> {{ location.phone }}
              <br />
            </p>
          </div>
        </div>
        Email us:
        <br>
        <br>
        <a class="btn waves-effect waves-green" [href]="contactData.mailInfo.href">
          <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;{{ contactData.mailInfo.emailAddress }}</a>
        <br>
        <br>
        <span [innerHTML]="contactData.careerOpps.description"></span>
        <br>
        <br>
        <a class="btn waves-effect waves-green" [href]="contactData.careerOpps.href"
          target="_blank">{{ contactData.careerOpps.buttonLabel }}</a>
      </div>
    </div>
  </div>
</div>
