<!-- carousel -->
<div id="carousel-section" class="parallax-container section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
        <div class="right">
          <img class="responsive-img" src="assets/img/global/logo.png" alt="Scientific Pathways" />
          <h3 class="orange-text text-darken-3"><em>Carousels</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/carousel/carousel-background.jpg">
  </div>
</div>

<div class="section orange lighten-3">
  <div class="row container">
    <div class="col m12 center-align blue-text text-darken-3">
      <h3>Carousels</h3>
    </div>
  </div>
  <div class="row container">
    <div class="col m4">
      <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="assets/img/carousel/1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="assets/img/carousel/2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="assets/img/carousel/3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="assets/img/carousel/4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="assets/img/carousel/5.jpg"></a>
      </div>
      <p>
        This image carousel is a robust and versatile component that can be an image slider, to an item carousel, to an onboarding experience. It is touch enabled making it especially smooth to use on mobile. <br>
        <br>
        Note: This is also touch compatible! Try swiping with your finger to scroll through the carousel.
      </p>
    </div>
    <div class="col m4">
      <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="assets/img/carousel/6.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="assets/img/carousel/7.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="assets/img/carousel/8.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="assets/img/carousel/9.jpg"></a>
      </div>
      <p>
          This full width image slider has a full width option that makes it into a simple and elegant image carousel. You can also have indicators that show up on the bottom of the slider.<br>
          <br>
          Note: This is also touch compatible! Try swiping with your finger to scroll through the carousel.
      </p>
    </div>
    <div class="col m4">
      <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
          <h2>First Panel</h2>
          <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
      </div>
      <p>
          This carousel doesn't only support images but also allows you to make content carousels. You can add fixed items to your carousel by adding a div with the class  carousel-fixed-item and adding your fixed content in there.<br>
          <br>
          Note: This is also touch compatible! Try swiping with your finger to scroll through the carousel.
      </p>
    </div>
  </div>
</div>
  