<!-- card -->
<div id="card-section" class="parallax-container section scrollspy section scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
          <div class="right">
            <img class="responsive-img" src="assets/img/global/logo.png" alt="Scientific Pathways" />
            <h3 class="orange-text text-darken-3"><em>Parallax</em></h3>
            <p class="orange lighten-3">
              Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
            </p><br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="assets/img/card/card-background.jpg">
    </div>
  </div>
  
  <div class="section orange lighten-3">
    <div class="row container">
      <div class="col m12 center-align blue-text text-darken-3">
        <h3>Card Options</h3>
      </div>
    </div>
    <div class="row container">
      <div class="col s12 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/card/card1.jpg">
            <span class="card-title blue-text text-darken-3">Vertical Image Card</span>
          </div>
          <div class="card-content">
            <p>I am a very simple vertical image card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple horizontal image card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>