<!-- about -->
<div [id]="sectionLayouts[0].divId" class="parallax-container section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
        <div class="right">
          <img class="responsive-img" src="assets/img/global/logo.png" alt="Scientific Pathways" />
          <h3 class="orange-text text-darken-3"><em>About Us</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/about/about-background.jpg">
  </div>
</div>

<div class="section orange lighten-3">
  <div class="container">
    <div class="row">
      <div class="col m12 center-align blue-text text-darken-3">
        <h3>About Us</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col m6">
        <div class="center-align">
          <h5>Our Leadership</h5>
        </div>
        <div class="row">
          <div class="col m4">
            <img class="responsive-img img-circle" src="assets/img/about/profiles/profile1.jpg" alt="Tara Ruest, PhD">
          </div>
          <div class="col m8">
            <div class="padded-right">
              <div class="row">
                <div class="col-md-12">
                  <!-- Tara Ruest's profile -->
                  <p>
                    <span class="green-text">
                      <strong>Tara Ruest, PhD</strong><br />
                      Vice President, Scientific Services<br />
                      Scientific Pathways US<br />
                      <a href="mailto:tara.ruest@scientificpathways.com">tara.ruest@scientificpathways.com</a>
                    </span>
                  </p>
                  <ul>
                    <li class="bullets">Tara has 16 years of experience in medical&nbsp;communications</li>
                    <li class="bullets">She enjoys diving into the science in collaboration with clients, working closely with clinical and
                    commercial teams as well as external experts, to develop credible and compelling medical education&nbsp;initiatives
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4">
            <img class="responsive-img img-circle" src="assets/img/about/profiles/profile2.jpg" alt="Crysta Bilow">
          </div>
          <div class="col m8">
            <div class="padded-right">
              <div class="row">
                <div class="col-md-12">
                  <!-- brendan's profile -->
                  <p>
                    <span class="green-text">
                      <strong>Crysta Bilow</strong><br />Vice President, Client Services<br />Scientific Pathways US<br />
                      <a href="mailto:crysta.bilow@scientificpathways.com">crysta.bilow@scientificpathways.com</a>
                    </span>
                  </p>
                  <ul>
                    <li class="bullets">Crysta has 18 years of experience in medical/healthcare communications</li>
                    <li class="bullets">She welcomes the challenge of successfully bringing drugs to market, by leading strong teams and
                    partnering closely with clients to ensure strategic alignment and operational excellence</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4">
            <img class="responsive-img img-circle" src="assets/img/about/profiles/profile3.jpg" alt="Brendan Murphy, PhD">
          </div>
          <div class="col m8">
            <div class="padded-right">
              <div class="row">
                <div class="col-md-12">
                  <!-- brendan's profile -->
                  <p>
                    <span class="green-text">
                      <strong>Brendan Murphy, PhD</strong><br />
                      Director, Client Services<br />
                      Scientific Pathways UK<br />
                      <a href="mailto:brendan.murphy@scientificpathways.com">brendan.murphy@scientificpathways.com</a>
                    </span>
                  </p>
                  <ul>
                    <li class="bullets">Brendan has 14 years of experience in medical/healthcare communications</li>
                    <li class="bullets">He works to ensure teams operate to the highest standards and deliver an impeccable level of service</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col m6">
        <h5 class="center-align">Our Team</h5>
        <div class="padded-left">
          <br />
          <br />
          <p class="green-text">
            <strong>Our team of experienced professionals:</strong>
          </p>
          <ul>
            <li class="bullets">Client Services
              <ul>
                <li class="sub-list">Specializing in business planning and strategic consultation, client communications, general account
                management, and overall program&nbsp;oversight</li>
              </ul>
            </li>
            <li class="bullets">Scientific Services
              <ul>
                <li class="sub-list">Individuals with expertise in scientific research,   strategic communication planning (landscape assessments,
                gap analyses), scientific direction, and content development</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>