<div class="navbar-fixed">
  <nav class="orange lighten-3">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo blue-text text-darken-4">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="#home-section" class="waves-light blue-text text-darken-4">Home</a>
        </li>
        <li>
          <a href="#card-section" class="waves-light blue-text text-darken-4">Card</a>
        </li>
        <li>
          <a href="#carousel-section" class="waves-light blue-text text-darken-4">Carousel</a>
        </li>
        <li>
          <a href="#collapsible-section" class="waves-light blue-text text-darken-4">Collapsible</a>
        </li>
        <li>
          <a href="#media-section" class="waves-light blue-text text-darken-4">Media</a>
        </li>
        <li>
          <a href="#modal-section" class="waves-light blue-text text-darken-4">Modal</a>
        </li>
      </ul>
    </div>
  </nav>
</div>