<div [id]="homeSectionLayout.divId" class="parallax-container section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
        <div class="right">
          <img class="responsive-img" [src]="globalData.logoSrc" [alt]="globalData.alt" />
          <h3 class="text-primary"><em>{{ homeSectionLayout.title }}</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img [src]="homeSectionLayout.parallaxSrc">
  </div>
</div>

<div class="section primary">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="center-align">
          <br />
          <img class="responsive-img" [src]="globalData.logoSrc" alt="Agency">
        </div>
      </div>
      <div class="col s12 m4">
        <p class="white-text" [innerHTML]="homeData.description"></p>
      </div>
      <div class="col s12 m4">
        <br />
        <br />
        <a [href]="homeData.button.href" class="waves-effect waves-light btn orange darken-3" [innerHTML]="homeData.button.label"></a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col m6">
        <div class="padded-right">
          <br />
          <br />
          <br />
          <br />
          <p class="green-text">
            <strong>{{ homeData.aboutList.title }}</strong>
          </p>
          <ul>
            <li class="bullets" *ngFor="let listItem of homeData.aboutList.listItems">{{ listItem }}</li>
          </ul>
        </div>
      </div>
      <div class="col m6">
        <div class="padded-left">
          <p class="green-text">
            <strong>{{ homeData.offerLists.title }}</strong>
          </p>
        </div>
        <div class="row">
          <div class="col m6">
            <ul>
              <li class="bullets" *ngFor="let listItem of homeData.offerLists.firstList">{{ listItem }}</li>
            </ul>
          </div>
          <div class="col m6">
            <ul>
              <li class="bullets" *ngFor="let listItem of homeData.offerLists.secondList">{{ listItem }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

