<!-- home -->
<div id="home-section" class="parallax-container section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
        <div class="right">
          <img class="responsive-img" src="assets/img/global/logo.png" alt="Scientific Pathways" />
          <h3 class="blue-text text-darken-4"><em>Welcome</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/home/home-background.jpg">
  </div>
</div>

<div class="section orange lighten-3">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="center-align">
          <br />
          <img class="responsive-img" src="assets/img/global/logo.png" alt="Agency">
        </div>
      </div>
      <div class="col s12 m4">
        <p>
          <br /> We are part of
          <a href="http://www.nucleus-global.com/" target="_blank" class="blue-text text-darken-4">Nucleus Global</a>,
          <br /> a full-service medical communications group with offices around the globe.
        </p>
      </div>
      <div class="col s12 m4">
        <br />
        <br />
        <a href="#contact-section" fragment="contact-us" class="waves-effect waves-light btn orange darken-3">
          Contact Us <i class="material-icons right">send</i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col m6">
        <div class="padded-right">
          <br />
          <br />
          <br />
          <br />
          <p class="green-text">
            <strong>About ScientificPathways</strong>
          </p>
          <ul>
            <li class="bullets">A medical communications agency with offices in New Jersey, USA and London, UK</li>
            <li class="bullets">Part of an independent organization that lives by its core values of respect, integrity, partnership,
              innovation, and fun</li>
          </ul>
        </div>
      </div>
      <div class="col m6">
        <div class="padded-left">
          <p class="green-text">
            <strong>We offer the following core services to our clients:</strong>
          </p>
        </div>
        <div class="row">
          <div class="col m6">
            <ul>
              <li class="bullets">Strategic planning and support</li>
              <li class="bullets">Medical communications and marketing support</li>
              <li class="bullets">Scientific platform and core content development</li>
              <li class="bullets">External expert identification and engagement planning</li>
              <li class="bullets">Internal/corporate communications and alignment</li>
              <li class="bullets">Comprehensive sales and MSL training support</li>
              <li class="bullets">Scientific event management, including travel services</li>
            </ul>
          </div>
          <div class="col m6">
            <ul>
              <li class="bullets">Publication planning and execution</li>
              <li class="bullets">Congress planning and exhibit booth support</li>
              <li class="bullets">Clinical trial support and investigator communications</li>
              <ul>
                <li class="bullets-sub-list">Clinical trial kits</li>
                <li class="bullets-sub-list">Investigator meetings and newsletters</li>
                <li class="bullets-sub-list">Patient recruitment and retention initiatives</li>
              </ul>
              <li class="bullets">Creative concepting and design</li>
              <li class="bullets">Video production</li>
              <li class="bullets">Digital applications, interactive displays, learning management systems, and website development</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- about -->
<div id="about-section" class="parallax-container section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
        <div class="right">
          <img class="responsive-img" src="assets/img/global/logo.png" alt="Scientific Pathways" />
          <h3 class="orange-text text-darken-3"><em>About Us</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/about/about-background.jpg">
  </div>
</div>

<div class="section orange lighten-3">
  <div class="container">
    <div class="row">
      <div class="col m12 center-align blue-text text-darken-3">
        <h3>About Us</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col m6">
        <div class="center-align">
          <h5>Our Leadership</h5>
        </div>
        <div class="row">
          <div class="col m4">
            <img class="responsive-img img-circle" src="assets/img/about/profiles/profile1.jpg" alt="Tara Ruest, PhD">
          </div>
          <div class="col m8">
            <div class="padded-right">
              <div class="row">
                <div class="col-md-12">
                  <!-- Tara Ruest's profile -->
                  <p>
                    <span class="green-text">
                      <strong>Tara Ruest, PhD</strong><br />
                      Vice President, Scientific Services<br />
                      Scientific Pathways US<br />
                      <a href="mailto:tara.ruest@scientificpathways.com">tara.ruest@scientificpathways.com</a>
                    </span>
                  </p>
                  <ul>
                    <li class="bullets">Tara has 16 years of experience in medical&nbsp;communications</li>
                    <li class="bullets">She enjoys diving into the science in collaboration with clients, working closely with clinical and
                    commercial teams as well as external experts, to develop credible and compelling medical education&nbsp;initiatives
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4">
            <img class="responsive-img img-circle" src="assets/img/about/profiles/profile2.jpg" alt="Crysta Bilow">
          </div>
          <div class="col m8">
            <div class="padded-right">
              <div class="row">
                <div class="col-md-12">
                  <!-- brendan's profile -->
                  <p>
                    <span class="green-text">
                      <strong>Crysta Bilow</strong><br />Vice President, Client Services<br />Scientific Pathways US<br />
                      <a href="mailto:crysta.bilow@scientificpathways.com">crysta.bilow@scientificpathways.com</a>
                    </span>
                  </p>
                  <ul>
                    <li class="bullets">Crysta has 18 years of experience in medical/healthcare communications</li>
                    <li class="bullets">She welcomes the challenge of successfully bringing drugs to market, by leading strong teams and
                    partnering closely with clients to ensure strategic alignment and operational excellence</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4">
            <img class="responsive-img img-circle" src="assets/img/about/profiles/profile3.jpg" alt="Brendan Murphy, PhD">
          </div>
          <div class="col m8">
            <div class="padded-right">
              <div class="row">
                <div class="col-md-12">
                  <!-- brendan's profile -->
                  <p>
                    <span class="green-text">
                      <strong>Brendan Murphy, PhD</strong><br />
                      Director, Client Services<br />
                      Scientific Pathways UK<br />
                      <a href="mailto:brendan.murphy@scientificpathways.com">brendan.murphy@scientificpathways.com</a>
                    </span>
                  </p>
                  <ul>
                    <li class="bullets">Brendan has 14 years of experience in medical/healthcare communications</li>
                    <li class="bullets">He works to ensure teams operate to the highest standards and deliver an impeccable level of service</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col m6">
        <h5 class="center-align">Our Team</h5>
        <div class="padded-left">
          <br />
          <br />
          <p class="green-text">
            <strong>Our team of experienced professionals:</strong>
          </p>
          <ul>
            <li class="bullets">Client Services
              <ul>
                <li class="sub-list">Specializing in business planning and strategic consultation, client communications, general account
                management, and overall program&nbsp;oversight</li>
              </ul>
            </li>
            <li class="bullets">Scientific Services
              <ul>
                <li class="sub-list">Individuals with expertise in scientific research,   strategic communication planning (landscape assessments,
                gap analyses), scientific direction, and content development</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mindset -->
<div id="mindset-section" class="parallax-container section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
        <div class="right">
          <img class="responsive-img" src="assets/img/global/logo.png" alt="Scientific Pathways" />
          <h3 class="orange-text text-darken-3"><em>Our Mindset</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/mindset/mindset-background.jpg">
  </div>
</div>

<div class="section orange lighten-3">
  <div class="row container">
    <div class="col m12 center-align blue-text text-darken-3">
      <h3>Our Mindset</h3>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col m6">
          <div class="padded-right">
            <p class="center-align green-text">
              <strong>Our Name</strong>
            </p>
            <p class="green-text">
              <strong>What are we?</strong>
            </p>
            <img class="img-responsive" src="assets/img/global/logo.png" alt="Agency Name">
            <p>
              <strong>At the cellular level, scientific or signaling transduction</strong> pathways start with <br> 
              <strong>ACTIVATION</strong>: A signal sets off a cascade of events that<br>
              <strong>PROCESS</strong> critical information, culminating in a desired<br>
              <strong>RESPONSE</strong>.
            </p>
          </div>
        </div>
        <div class="col m6">
          <div class="padded-left">
            <p class="center-align green-text">
              <strong>Our Approach</strong>
            </p>
            <p class="green-text">
              <strong>We apply this response-driven, scientific pathways mindset to how we approach medical communications:</strong>
            </p>
            <ul>
              <li class="bullets">We deliver relevant, credible, and engaging medical communications that
                <strong>ACTIVATE</strong> target audiences</li>
              <li class="bullets">We build compelling strategies and
                <strong>PROCESS</strong> these into impactful multichannel communication plans that focus on desired outcomes</li>
              <li class="bullets">And because we are independently owned, we're able to
                <strong>RESPOND</strong> quickly to our clients' evolving needs to grow their businesses</li>
            </ul>
            <p>Now that's signaling change in healthcare communications.</p>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- testimonial -->
<div id="testimonial-section" class="parallax-container section scrollspy">
  <div class="container">
      <div class="row">
          <div class="col l12">
            <div class="center-align">
              <h5 class="white-text">
                <br /> Client Testimonials
              </h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l2 offset-l2">
            <div class="first-client-test">
              <p class="white-text">
                "You guys are absolutely the very best! Thank you!"
                <br /> - Global Indication Lead, speaker training event
              </p>
            </div>
          </div>
          <div class="col l2">
            <br />
            <br />
            <br />
            <br />
            <br />
            <p class="white-text">
              "Might be one of the first times for me that I have no comments and changes. Great work."
              <br /> - Brand Training Manager, sales training materials
            </p>
          </div>
          <div class="col l3">
            <p class="white-text">
              "We were all so impressed by how these look! Please let your team know we appreciate their work on this."
              <br /> - Senior Medical Communications Specialist, congress booth asset support
            </p>
          </div>
          <div class="col l3">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p class="white-text">
              "Everything was very well planned and
              <br /> executed really well with very good attention to detail....
              <br /> Kudos to your team."
              <br /> - Senior Medical Director, advisory board series
            </p>
          </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/testimonial/testimonial-background.jpg">
  </div>
</div>

<!-- contact -->
<div id="contact-section" class="section orange lighten-3 scrollspy">
  <div class="row container">
    <div class="col m12 center-align blue-text text-darken-3">
      <h3>Contacts</h3>
      <p>
        Forms are the standard way to receive user inputted data. The transitions and smoothness of these elements are very important because of the inherent user interaction associated with forms.
      </p>
    </div>
  </div>
  <div class="row container">
    <div class="col s12 m6">
      <h3>Basic Form</h3>
      <h4>Contact us</h4>
      <p>Would you like to learn more about our core capabilities and/or open positions?</p>
      <form id="contact-form" name="contactForm" ng-submit="submit()" novalidate>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="icon_email" type="tel" class="validate">
            <label for="icon_email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">notes</i>
            <textarea id="message-input" class="materialize-textarea validate" ng-model="contact.message"></textarea>
            <label for="message">Message</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button id="submit-btn" name="submit" type="submit" value="Send" class="btn waves-effect waves-yellow green">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col s12 m6">
      <div class="center-on-small-only">
        <img class="responsive-img" src="assets/img/global/logo.png" alt="Agency Name" />
        <div class="row">
          <div class="col m6 s12">
            <p>
              <strong>Main location:</strong>
              <br /> 25 Independence Boulevard
              <br /> Suite 402
              <br /> Warren, NJ 07059
              <br /> 908-360-4360
              <br />
            </p>
          </div>
          <div class="col m6 s12">
            <p>
              <strong>London location:</strong>
              <br /> Admiral House, 76-78 Old Street, London, EC1V
              <br /> 9AZ, United Kingdom
              <br /> +44 207 398 0500
              <br />
            </p>
          </div>
        </div>
        Email us:
        <br>
        <br>
        <a class="btn waves-effect waves-green" href="mailto:info@agencyname.com">
          <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;info@agencyname.com</a>
        <br>
        <br> Learn about career opportunities
        <br> at Agency and
        <br> across Nucleus Global:
        <br>
        <br>
        <a class="btn waves-effect waves-green" href="https://chp.tbe.taleo.net/chp01/ats/careers/v2/jobSearch?act=redirectCwsV2&cws=52&org=NUCLEUSHOLDINGS"
          target="_blank">Explore Career Opportunities</a>
      </div>
    </div>
  </div>
</div>
