<div [id]="mindsetLayout.divId" class="parallax-container section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m5 offset-m3 l3 offset-l9 xl3 offset-xl9">
        <div class="right">
          <img class="responsive-img" [src]="globalData.logoSrc" [alt]="globalData.alt" />
          <h3 class="orange-text text-darken-3"><em>{{ mindsetLayout.title }}</em></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img [src]="mindsetLayout.parallaxSrc">
  </div>
</div>

<div class="section orange lighten-3">
  <div class="row container">
    <div class="col m12 center-align blue-text text-darken-3">
      <h3>{{ mindsetLayout.title }}</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col m6">
        <div class="padded-right">
          <p class="center-align green-text">
            <strong>{{ mindsetData.columnOne.title }}</strong>
          </p>
          <img class="img-responsive" [src]="globalData.logoSrc" [alt]="globalData.alt">
          <p *ngFor="let step of mindsetData.columnOne.process" [innerHTML]="step">
        </div>
      </div>
      <div class="col m6">
        <div class="padded-left">
          <p class="center-align green-text">
            <strong>{{ mindsetData.columnTwo.title }}</strong>
          </p>
          <p class="green-text" [innerHTML]="mindsetData.columnTwo.description"></p>
          <ul>
            <li class="bullets" *ngFor="let listItem of mindsetData.columnTwo.list" [innerHTML]="listItem"></li>
          </ul>
          <p>{{ mindsetData.columnTwo.clincher }}</p>
        </div>
      </div>
    </div>
  </div>
</div>