<div [id]="testimonialLayout.divId" class="parallax-container section scrollspy">
  <div class="container">
      <div class="row">
          <div class="col l12">
            <div class="center-align">
              <h4 class="">
                <br /> {{ testimonialLayout.title }}
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l2 offset-l2">
            <div class="first-client-test">
              <strong class="">
                "{{ testimonialData[0].quote }}"
                <br /> - {{ testimonialData[0].author }}
              </strong>
            </div>
          </div>
          <div class="col l2">
            <br />
            <br />
            <br />
            <br />
            <br />
            <strong class="">
                "{{ testimonialData[1].quote }}"
                <br /> - {{ testimonialData[1].author }}
            </strong>
          </div>
          <div class="col l3">
            <strong class="">
                "{{ testimonialData[2].quote }}"
                <br /> - {{ testimonialData[2].author }}
            </strong>
          </div>
          <div class="col l3">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <strong class="">
                "{{ testimonialData[3].quote }}"
                <br /> - {{ testimonialData[3].author }}
            </strong>
          </div>
    </div>
  </div>
  <div class="parallax">
    <img [src]="testimonialLayout.parallaxSrc">
  </div>
</div>