<!-- testimonial -->
<div id="testimonial-section" class="parallax-container section scrollspy">
  <div class="container">
      <div class="row">
          <div class="col l12">
            <div class="center-align">
              <h5 class="white-text">
                <br /> Client Testimonials
              </h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l2 offset-l2">
            <div class="first-client-test">
              <p class="white-text">
                "You guys are absolutely the very best! Thank you!"
                <br /> - Global Indication Lead, speaker training event
              </p>
            </div>
          </div>
          <div class="col l2">
            <br />
            <br />
            <br />
            <br />
            <br />
            <p class="white-text">
              "Might be one of the first times for me that I have no comments and changes. Great work."
              <br /> - Brand Training Manager, sales training materials
            </p>
          </div>
          <div class="col l3">
            <p class="white-text">
              "We were all so impressed by how these look! Please let your team know we appreciate their work on this."
              <br /> - Senior Medical Communications Specialist, congress booth asset support
            </p>
          </div>
          <div class="col l3">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p class="white-text">
              "Everything was very well planned and
              <br /> executed really well with very good attention to detail....
              <br /> Kudos to your team."
              <br /> - Senior Medical Director, advisory board series
            </p>
          </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/img/testimonial/testimonial-background.jpg">
  </div>
</div>