<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Expertise</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Expertise</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Medical Education & Support</h3>
          <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Creative Design and Development</h3>
          <i class="fa fa-paint-brush fa-5x" aria-hidden="true"></i>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>