<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Welcome</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Our Company</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Our Business</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">About Us</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>About Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Our Leadership</h3>
          <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Our Team</h3>
          <i class="fa fa-users fa-5x" aria-hidden="true"></i>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Our Mindset</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Our Mindset</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Our Name</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
          <h3>Our Approach</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-4">Client Testimonials</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
            -Global Head
          </p>
          <p>
            Quas vitae placeat ex. Quos iusto repellat eum id quae commodi dolores distinctio laudantium labore.<br>
            -Director of Marketing
          </p>
        </div>
        <div class="col-md-6">
          <p>
            "Perspiciatis non, tenetur atque harum itaque animi! <br>
            -VP of Sales
          </p>
          <p>
            Quas iusto repellat eum id quae commodi dolores distinctio laudantium.<br>
            -COO
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Contact Us</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>Would you like to learn more about our core capabilities and/or open positions?</p>
        <form>
          <div class="form-group">
            <label for="name" class="bmd-label-floating">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email" class="bmd-label-floating">Email address</label>
            <input type="email" class="form-control" id="email">
            <span class="bmd-help">We'll never share your email with anyone else.</span>
          </div>
          <div class="form-group">
            <label for="message" class="bmd-label-floating">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-raised">Submit <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid img-thumbnail rounded" src="https://via.placeholder.com/150" alt="">
        </div>
        <br>
        <p>
          American Metro Blvd <br>
          Suite 140 <br>
          Hamilton, NJ <br>
          609-555-3212
        </p>
        <small>Email Us:</small><br>
        <button class="btn btn-primary"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@agency.com</button>
      </div>
    </div>
  </div>